::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #d5d5d5; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #d5d5d5;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #d5d5d5;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #d5d5d5; }

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 10.8rem;
  background: #fff;
  z-index: 999;
  padding: 0.35rem 0 0.39rem;
  height: 0.9rem; }
  header .avatar {
    float: left;
    width: 0.9rem;
    height: 0.9rem;
    margin-left: 0.48rem; }
    header .avatar img {
      display: block;
      width: 100%;
      height: 100%; }
  header input {
    margin-left: 0.48rem;
    margin-right: 0.54rem;
    float: left;
    width: 6.38rem;
    padding: 0.23rem 0 0.23rem 1rem;
    height: 0.44rem;
    border: none;
    background: #f8f8f8 url("../images/treasure_input_beijing.png") no-repeat 0.36rem 0.23rem;
    -webkit-background-size: 0.44rem 0.44rem;
    background-size: 0.44rem 0.44rem;
    outline: none;
    font: 600 0.34rem/0.44rem "";
    border-radius: 70px; }
  header .menu {
    float: left;
    display: block;
    width: 0.6rem;
    height: 0.9rem; }
    header .menu img {
      display: block;
      width: 100%;
      height: 100%; }

#banner {
  margin-top: 1.64rem;
  width: 100%;
  height: 3.7rem; }
  #banner ul li a {
    display: block;
    width: 100%;
    height: 100%; }
    #banner ul li a img {
      display: block;
      width: 100%;
      height: 100%; }

nav {
  padding: 0 0.48rem;
  border-bottom: 0.01rem solid #eee; }
  nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    nav ul li {
      flex: 0 0 25%;
      padding: 0.36rem 0 0.5rem 0; }
      nav ul li a img {
        display: block;
        width: 2.4rem;
        height: 1.72rem; }

.fenjiexian {
  width: 100%;
  height: 0.3rem;
  background: #f9f9f9; }

#main {
  margin-bottom: 1.5rem; }
  #main .dqjx h2 {
    padding-left: 0.48rem;
    font: 700 0.42rem/1.5rem "";
    color: #333; }
  #main .dqjx ul {
    padding-left: 0.48rem; }
    #main .dqjx ul li {
      border-top: 0.01rem solid #eee;
      padding: 0.58rem 0 0.57rem;
      height: 1.23rem; }
      #main .dqjx ul li a .product-l {
        float: left;
        width: 3.4rem; }
        #main .dqjx ul li a .product-l p {
          font: 900 0.5rem/0.62rem "";
          color: #f88220; }
        #main .dqjx ul li a .product-l span {
          display: block;
          margin-top: 0.29rem;
          font: 700 0.32rem/0.32rem "";
          color: #999; }
      #main .dqjx ul li a .product-r {
        float: left;
        margin-left: 0.43rem;
        border-left: 0.01rem solid #eee;
        padding-left: 0.5rem; }
        #main .dqjx ul li a .product-r p {
          font: 600 0.44rem/0.68rem "";
          color: #666; }
        #main .dqjx ul li a .product-r span {
          display: block;
          margin-top: 0.23rem;
          font: 700 0.32rem/0.32rem "";
          color: #999; }
    #main .dqjx ul li:nth-child(3) a .product-r span {
      color: #ff7e12; }
  #main .dqjx .more {
    display: block;
    height: 1.5rem;
    border-top: 0.01rem solid #f0f0f0;
    font: 600 0.36rem/1.49rem "";
    color: #4d8dee;
    text-align: center; }
  #main .fenjiexian {
    width: 100%;
    height: 0.3rem;
    background: #f5f5f5; }
  #main .jjjx h2 {
    padding-left: 0.48rem;
    font: 700 0.42rem/1.5rem "";
    color: #333; }
  #main .jjjx ul {
    padding-left: 0.48rem; }
    #main .jjjx ul li {
      border-top: 0.01rem solid #eee;
      padding: 0.58rem 0 0.57rem;
      height: 1.23rem; }
      #main .jjjx ul li a .product-l {
        float: left;
        width: 3.4rem; }
        #main .jjjx ul li a .product-l p {
          font: 900 0.5rem/0.62rem "";
          color: #f88220; }
        #main .jjjx ul li a .product-l span {
          display: block;
          margin-top: 0.29rem;
          font: 700 0.32rem/0.32rem "";
          color: #999; }
      #main .jjjx ul li a .product-r {
        float: left;
        margin-left: 0.43rem;
        border-left: 0.01rem solid #eee;
        padding-left: 0.5rem; }
        #main .jjjx ul li a .product-r p {
          font: 600 0.44rem/0.68rem "";
          color: #666; }
        #main .jjjx ul li a .product-r span {
          display: block;
          margin-top: 0.23rem;
          font: 700 0.32rem/0.32rem "";
          color: #999; }
    #main .jjjx ul li:nth-child(2) a .product-r span {
      color: #ff7e12; }
    #main .jjjx ul li:nth-child(4) a .product-r span {
      color: #ff7e12; }
  #main .jjjx .jjjx_banner {
    width: 100%;
    padding: 0.27rem 0 0.26rem 0; }
    #main .jjjx .jjjx_banner ul li {
      border-top: none;
      padding: 0.6rem 0 0.6rem 0.49rem;
      height: 1.17rem;
      width: 3.86rem;
      box-shadow: 0 0 20px #ededed; }
      #main .jjjx .jjjx_banner ul li a img {
        float: left;
        width: 0.46rem;
        height: 1.17rem; }
      #main .jjjx .jjjx_banner ul li a p {
        float: left;
        padding-left: 0.38rem;
        width: 2.8rem;
        font: 700 0.42rem/0.53rem "";
        color: #444; }
      #main .jjjx .jjjx_banner ul li a span {
        padding-left: 0.38rem;
        display: block;
        float: left;
        width: 2.8rem;
        margin-top: 0.32rem;
        font: 700 0.3rem/0.32rem "";
        color: #999; }
  #main .jjjx .more {
    display: block;
    height: 1.51rem;
    font: 600 0.36rem/1.49rem "";
    color: #4d8dee;
    text-align: center; }
  #main .baoxian h2 {
    padding-left: 0.48rem;
    font: 700 0.42rem/1.3rem "";
    color: #333; }
  #main .baoxian .baoxian_banner ul {
    padding: 0.2rem 0 0.49rem 0.49rem; }
    #main .baoxian .baoxian_banner ul li {
      padding: 0.37rem  0.5rem 0.71rem 0.5rem;
      width: 3.15rem;
      height: 3.07rem;
      box-shadow: 0 0 20px #ededed; }
      #main .baoxian .baoxian_banner ul li a {
        text-align: center; }
        #main .baoxian .baoxian_banner ul li a h3 {
          font: 700 0.38rem/1.14rem "";
          color: #444; }
        #main .baoxian .baoxian_banner ul li a img {
          display: block;
          width: 3.15rem;
          height: 0.08rem; }
        #main .baoxian .baoxian_banner ul li a p {
          font: 600 0.36rem/1.11rem "";
          color: #888; }
          #main .baoxian .baoxian_banner ul li a p span {
            color: #27b288; }
        #main .baoxian .baoxian_banner ul li a h4 {
          font: 700 0.5rem/0.74rem "";
          color: #27b288; }
  #main .lczs h2 {
    padding-left: 0.48rem;
    font: 700 0.42rem/1.5rem "";
    color: #333; }
  #main .lczs ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    #main .lczs ul li {
      flex: 0 0 46.5%;
      padding: 0.62rem 0 0.62rem 0.34rem;
      border-bottom: 0.01rem solid #eee;
      border-right: 0.01rem solid #eee; }
      #main .lczs ul li a img {
        display: block;
        width: 0.7rem;
        height: 1rem;
        float: left; }
      #main .lczs ul li a p {
        float: left;
        width: 3.5rem;
        padding-left: 0.34rem;
        font: 700 0.4rem/0.54rem "";
        color: #444; }
      #main .lczs ul li a span {
        float: left;
        width: 3.5rem;
        padding-left: 0.34rem;
        font: 700 0.3rem/0.46rem "";
        color: #999; }
    #main .lczs ul li:nth-child(2) {
      border-right: 0.01rem solid #fff; }
    #main .lczs ul li:nth-child(3) {
      border-bottom: 0.01rem solid #fff; }
    #main .lczs ul li:nth-child(4) {
      border-bottom: 0.01rem solid #fff;
      border-right: 0.01rem solid #fff; }
  #main .tslc h2 {
    padding-left: 0.48rem;
    font: 700 0.42rem/1.5rem "";
    color: #333; }
  #main .tslc .tslc_banner ul {
    padding: 0 0 0.6rem 0.48rem; }
    #main .tslc .tslc_banner ul li {
      width: 4.35rem;
      height: 2.31rem; }
      #main .tslc .tslc_banner ul li a img {
        width: 100%;
        height: 100%; }
  #main .tjyd h2 {
    padding-left: 0.48rem;
    font: 700 0.42rem/1.5rem "";
    color: #333; }
  #main .tjyd .tjyd_banner1 ul {
    padding: 0.16rem 0 0.4rem 0.48rem; }
    #main .tjyd .tjyd_banner1 ul li {
      padding: 0.33rem 0.42rem 0.32rem 0.42rem;
      height: 0.38rem;
      width: 2.7rem;
      box-shadow: 0 0 20px #ededed; }
      #main .tjyd .tjyd_banner1 ul li a img {
        display: block;
        float: left;
        width: 0.36rem;
        height: 0.38rem; }
      #main .tjyd .tjyd_banner1 ul li a p {
        padding-left: 0.24rem;
        float: left;
        font: 700 0.36rem/0.38rem "";
        color: #444; }
  #main .tjyd .wenzhang {
    padding-left: 0.48rem; }
    #main .tjyd .wenzhang li {
      padding: 0.51rem 0 0.51rem 0;
      height: 2.1rem;
      border-bottom: 0.01rem solid #eee; }
      #main .tjyd .wenzhang li a {
        display: block; }
        #main .tjyd .wenzhang li a p {
          float: left;
          width: 7rem;
          font: 700 0.4rem/0.52rem "";
          color: #444; }
        #main .tjyd .wenzhang li a span {
          display: block;
          float: left;
          width: 7rem;
          font: 700 0.3rem/1.06rem "";
          color: #999; }
        #main .tjyd .wenzhang li a img {
          display: block;
          margin-top: 0;
          padding-left: 0.3rem;
          width: 2.1rem;
          height: 2.1rem; }
  #main .tjyd .tjyd_banner2 ul {
    padding: 0.51rem 0 1.12rem 0.48rem;
    text-align: center; }
    #main .tjyd .tjyd_banner2 ul li {
      width: 3.4rem;
      height: 4.43rem;
      margin-right: 0.5rem; }
      #main .tjyd .tjyd_banner2 ul li img {
        margin-left: 0.95rem;
        display: block;
        width: 1.5rem;
        height: 1.5rem; }
      #main .tjyd .tjyd_banner2 ul li h4 {
        font: 700 0.36rem/0.8rem "";
        color: #444;
        margin-top: 0.13rem; }
      #main .tjyd .tjyd_banner2 ul li p {
        font: 700 0.3rem/0.5rem "";
        color: #999;
        height: 1rem; }
      #main .tjyd .tjyd_banner2 ul li a {
        margin-left: 0.95rem;
        display: block;
        width: 1.5rem;
        height: 0.63rem;
        background: #4e8dee;
        font: 800 0.32rem/0.63rem "";
        color: #fff; }
  #main .gdxx {
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 0.38rem; }
    #main .gdxx .gdxx_t {
      height: 0.66rem; }
      #main .gdxx .gdxx_t p {
        font: 600 0.32rem/0.66rem "";
        color: #69b145;
        background: url("../images/treasure_t20.png") no-repeat 3rem 0;
        background-size: 0.6rem 0.66rem; }
    #main .gdxx .gdxx_b {
      height: 1.03rem; }
      #main .gdxx .gdxx_b ul {
        height: 1.03rem; }
        #main .gdxx .gdxx_b ul li {
          height: 1.03rem; }
          #main .gdxx .gdxx_b ul li p {
            font: 700 0.38rem/1.03rem "";
            color: #999;
            height: 1.03rem; }
  #main .beijing img {
    width: 100%;
    height: 2.58rem; }

footer {
  width: 100%;
  height: 1.1rem;
  position: fixed;
  bottom: 0;
  padding: 0.22rem 0 0.18rem;
  background: white;
  border-top: 0.01rem solid #f5f5f5;
  z-index: 999; }
  footer .module {
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between; }
    footer .module a img {
      width: 1.2rem;
      height: 1.1rem; }

/*# sourceMappingURL=treasure.css.map */
